## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [175]:
import pandas as pd

# загрузите датасет
df = pd.read_csv("vgsales.csv")

# после того датасет корректно загрузился, можно посмотреть на данные глазами
df

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [179]:
unique = len(df["Name"].unique())
unique

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [181]:
jpSales = sum(df["JP_Sales"])
jpSales

1291.02

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [173]:
GenreNA = df.pivot_table(index=['Genre'], values= 'NA_Sales', aggfunc='sum').sort_values(by='NA_Sales', ascending =False).reset_index()
GenreNA[:3]

     Genre  NA_Sales
0   Action    877.83
1   Sports    683.35
2  Shooter    582.60

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [171]:
dfyearpl = df[[
    "Year", "Platform", 
]]

year2000 = dfyearpl[dfyearpl.Year == 2000]
toppl2000 = year2000["Platform"].value_counts()

year2015 = dfyearpl[dfyearpl.Year == 2015]
toppl2015 = year2015["Platform"].value_counts()

print (toppl2000.head(1), toppl2015.head(1))

Platform
PS    159
Name: count, dtype: int64 Platform
PS4    137
Name: count, dtype: int64

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [167]:
dfyearpub = df[[
    "Year", "Publisher", 
]]

yearpub = dfyearpub[(dfyearpub.Year == 2012) | (dfyearpub.Year == 2013) | (dfyearpub.Year == 2014) | (dfyearpub.Year == 2015) ]
 
toppub = yearpub["Publisher"].value_counts()

toppub.head(1)

Publisher
Namco Bandai Games    285
Name: count, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [165]:
dfEUsport = df[[
    "Genre", "EU_Sales"
]]

sumEU = sum(dfEUsport["EU_Sales"])
sportEU = dfEUsport[dfEUsport.Genre == "Sports"]

sportEU = sportEU.pivot_table(index=['Genre'], values= 'EU_Sales', aggfunc='sum').sort_values(by='EU_Sales', ascending =False).reset_index()
sportEU = sum(sportEU["EU_Sales"])
result = sportEU / sumEU * 100 

result

15.48191756397563